:root {
    --branco-principal: #ffffff;
    --cinza-secundario: #c0c0c0;
    --botao-azul: #167bf7;
    --botao-azul-efeito: #65a8fb;
    --cor-de-fundo: #00030c;
    --fonte-principal: font-family: 'Inter', sans-serif;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}


.principal {
    background: url('./img/Background.png')no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;

}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 55%;
}

.container__botao {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1rem;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1rem;
}

.botao__secudario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.container__aviso {
    font-size: 12px;
    color: var(--cinza-secundario);
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__imagem {
    margin: 1rem 0 2rem 0;
}

.container__caixa {
    margin: 0 6rem;

}

.secundario__imagem {
    width: 80%;
}

.secundario {
    align-items: center;
    margin: 0 10rem;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.1rem;
}

.descricao__texto {
    color: var(--cinza-secundario);
}

.secudario__botao {
    display: inline-block;
    margin-top: 1rem;
}

.container__descricao {
    padding: 2rem;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5rem 0;
}


.dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    font-size: 48px;
    font-variant: var(--branco-principal);
}

.dispositivos__item {
    font-size: 32px;
    font-variant: var(--branco-principal);
}

.rodape {
    text-align: center;
}

.lista__link a {
    color: var(--branco-principal);
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    margin: 0 1rem;
}

.rodape__lista {
    justify-content: center;
    margin: 2rem 0 2rem;
    display: flex;
    list-style-type: none;
}

.rodape__texto {
    margin-bottom: 1rem;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: var(--cinza-secundario);
}

.rodape__lista a:hover {
    color: var(--botao-azul);
}

.rodape__lista a:active {
    color: purple;
}

.container__botao:hover {
    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-fundo);
}